uint8_t RemoteXY_CONF[] =   // 83 bytes
  { 255,15,0,0,0,76,0,17,0,0,0,153,1,106,200,1,1,5,0,11,
  39,130,62,62,4,32,3,48,90,44,16,131,2,26,2,47,39,44,22,0,
  2,26,31,31,79,78,0,79,70,70,0,4,6,38,20,132,0,2,26,129,
  1,2,106,13,10,84,104,101,32,75,105,116,116,101,110,32,76,105,103,104,
  116,115,0 };
  
// The RemoteXY control interface		----------------------------------------
struct {
  float			orient_pitch;			// from -PI to PI
  float 		orient_roll;			// from -PI to PI
  float 		orient_yaw;				// from -PI to PI
  uint8_t		select_01;				// from 0 to 3
  uint8_t		switch_01;				// =1 if switch ON and =0 if OFF
  int8_t		slider_01;				// from 0 to 100
  uint8_t 	connect_flag;  		// =1 if wire connected, else =0
} RemoteXY;   